.registry {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

input {
  width: 200px;
  height: 25px;
  font-size: 20px;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: blue;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: end;
}
